html, body {
  margin: 0;
  padding: 0;
  background-image: url("download.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  flex-direction: column;
}

